---

tomcat_agents_required_libs:
  - unzip
  - apt-transport-https

tomcat_agents_config:
  - name: "newrelic"
    download_url: "http://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic-java.zip"
    version: "6.4.1"
    catalina_opts:
      - '-javaagent:{{ tomcat_install_path }}/newrelic/newrelic.jar'
    configuration_files:
      - "newrelic.yml"
    params: {
      application_name: "application_sample_name",
      license_key: "sddsasd"
    }
  - name: "datadog"
    download_url: "https://github.com/DataDog/dd-trace-java/releases/download/v0.73.0/dd-java-agent-0.73.0.jar"
    version: "0.73.0"
    catalina_opts:
      - '-javaagent:{{ tomcat_install_path }}/datadog/dd-java-agent-0.73.0.jar -Ddd.profiling.enabled=true -Ddd.logs.injection=true -Ddd.service=sample -Ddd.env=molecule'
    configuration_files: []

tomcat_logs_path: /var/log/tomcat

tomcat_download_from_maven_wars: true
tomcat_war_to_deploy_from_maven:
  - name: hello-servlet.war
    group_id: "io.fabric8.jube.images.examples"
    artifact_id: "hello-servlet"
    extension: "war"
    repository_url: "https://repo.maven.apache.org/maven2/"
    # If using Ansible 2.6 or newer, this is settable as well
    # verify_checksum: always

tomcat_download_wars: true
tomcat_war_to_deploy_urls:
  - url: https://tomcat.apache.org/tomcat-8.5-doc/appdev/sample/sample.war
    name: sample.war
tomcat_local_wars: false
tomcat_war_to_deploy_path:
  - "{{ playbook_dir }}/sample.war"
