[[source]]
url = "http://nexus.int.sys.idealista/repository/pypi-public/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
ansible = "==2.9.27"
molecule = "==3.0.8"
docker = "==6.1.3"
jmespath = "==0.9.4"
lxml = "==4.6.2"
ansible-lint = "==4.2.0"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.17"
