#! /bin/sh

{% if tomcat_environment_vars is defined %}
{% for env_var in tomcat_environment_vars %}
export {{ env_var.name }}={{ env_var.value }}
{% endfor %}
{% endif %}


{% for option in tomcat_catalina_opts %}
export CATALINA_OPTS="$CATALINA_OPTS {{ option }}"
{% endfor %}

{% if tomcat_agents_config is defined %}
if [ -r "$CATALINA_BASE/bin/setagentenv.sh" ]; then
  . "$CATALINA_BASE/bin/setagentenv.sh"
elif [ -r "$CATALINA_HOME/bin/setagentenv.sh" ]; then
  . "$CATALINA_HOME/bin/setagentenv.sh"
fi
{% endif %}

{% set path = tomcat_logs_path|default(tomcat_default_log_catalina_out) %}
export CATALINA_OUT={{ path }}/catalina.out
