---

http:
  http://localhost:{{ tomcat_http_connector_port }}:
    status: 200
  {% for agent_config in tomcat_agents_config %}
    {{ agent_config.download_url }}
      status: 200
  {% endfor %}

service:
  tomcat:
    enabled: true
    running: true

user:
  {{ tomcat_user }}:
    exists: true
    groups:
      - {{ tomcat_group }}

group:
  {{ tomcat_group }}:
    exists: true

port:
  tcp:{{ tomcat_http_connector_port }}:
    listening: true
{% for agent_config in tomcat_agents_config.items() %}
  {{ agent_config.installation_path }}
    filetype: directory
    exists: true
    owner: {{ tomcat_user }}
    group: {{ tomcat_group }}
  {{ agent_config.installation_path }}/{{ agent_config.configuration_file_name }}
    exists: true
  {{ agent_config.installation_path }}/{{ agent_config.agent_file }}
    exists: true
{% endfor %}
